layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="status-bar"
    }
  }

  tab name="noble" cwd="$HOME/dev/noble-assets/noble" {
    pane
  }

  tab name="dollar" cwd="$HOME/dev/noble-assets/dollar" {
    pane
  }

  tab name="cctp" cwd="$HOME/dev/noble-assets/cctp" {
    pane
  }

  tab name="fiattoken" cwd="$HOME/dev/noble-assets/fiattokenfactory" {
    pane
  }

  tab name="nova" cwd="$HOME/dev/noble-assets/nova" {
    pane
  }

  tab name="orbiter" cwd="$HOME/dev/noble-assets/orbiter" {
    pane
  }
}
